.table{
    width: 100%;
    height: 100%;
}

.ag-theme-alpine{
    --ag-header-background-color: #FFF;
    --ag-border-color: none;
    --ag-row-border-color: none;
}

.status {
    width: 80px;
    padding: 8px;
    border-radius: 9px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status.approved{
    background-color: rgba(145, 254, 159, .47);
    color: green;
}
.status.pending {
    background-color: #ffadad8f;
    color: red;
}
.status.delivered {
    background-color: #59bfff;
    color: white;
}

.details {
    color: #00b5ff;
}